*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}
header{
  background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url(../csgo2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
ul{
  list-style-type: none;
}

ul li{
  float: right;
  width: 140px;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
}

ul li a{
  text-decoration: none;
  color: #000;
  display: block;
}

ul li a:hover{
  background-color: #0cd2f3;
  transition: 1s ease;
}

ul li.active a{
  background-color: #fff;
  color: #000;
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transition: translate(-50%,-50%);
}

.title h1{
  color: #fff;
  font-size: 70px;
}

.nav{
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
}

ul li ul li{
  display: none;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  height: 60px;
  transition: 1s all;
}

ul li:hover ul li{
  display: block;
}
